<div class="product">
    <div>
        <p class="text-center text-color title-menu pb-0 pt-30">{{t 'product.product'}}</p>
    </div>
    <div class="input-group rounded search-product">
        <input type="text" class="form-control  input-search" id="search" placeholder="Search">
        <span class="input-group-text border-0 cursor-pointer" id="search-addon">
            <i id="btn-search" class="fas fa-search"></i>
        </span>
    </div>

    <div class="container position-absolute filter-price">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="minRange" min="0" placeholder="Min Range">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="maxRange" min="0" placeholder="Max Range">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn-clear-filter btn-primary-bg" id="clearFilter">
        {{t 'product.clear-filter'}}</button>



    <div class="mw-xl product-all">
        <div class="w-10">
            <div class="fs-2 fw-medium cursor-pointer">{{t 'product.menu'}}</div>
            <div id="drink" class="my-2 fs-5 cursor-pointer btn-menu active-menu">{{t 'product.drinks'}}</div>
            <div id="cake" class="my-2 fs-5 cursor-pointer btn-menu">{{t 'product.cakes'}}</div>
        </div>
        <div class="w-100">
            <div class="list-item d-flex justify-content-end">
                <div class="row row-cols-4 w-100 g-5 ">
                    {{#each products}}
                    <div class="">
                        <a class="underline-none" href="/product/{{this.id}}">
                            <div class="card card-product col height-fluid-card">
                                <img src="{{this.image}}" class="card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text title-product">{{this.name}}</p>
                                    <p class="card-text price-product">{{this.VNDFormat this.price}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>

    </div>
    <div class="mw-xl pagination mt-5">
        <nav aria-label="Page navigation example ">
            <div class="pagination" id="pagination">
                {{{pagination}}}
            </div>
        </nav>
    </div>

</div>
<script src='/js/utils.js'></script>
<script src='/js/product/product.js'></script>
