<div class='product-detail'>
    <div class='mw-lg product-detail'>
        <div class='row row-cols-2'>
            <div class='col'>
                <div class='left-detail'>
                    <img src='{{product.image}}' class='img-detail' alt='...' />
                </div>
            </div>
            <div class='col'>
                <div>
                    <div class='mb-4'>
                        <p class='title-detail mb-0'>{{product.name}}</p>
                        <p class='price-product-detail'>{{VND product.price}}</p>
                    </div>
                </div>
                <div class='mb-4'>
                    <p class='mb-1 fs-5'>{{t 'product.pick-size'}}</p>
                    <div class=''>
                        <button id='1' type='button' value="false" class='btn-size size-select selected'>M</button>
                        <button id='2' type='button' value="true" class='btn-size size-select'>L +
                            {{VND UP_SIZE_PRICE}}</button>
                    </div>
                </div>
                <div class='mb-10'>
                    <p class='mb-1 fs-5'>{{t 'product.pick-topping'}}</p>
                    <div class='list-topping'>
                        {{#each toppings}}
                        <button id='{{this.id}}' type='button' class='btn-size topping-select'>{{this.name}}
                            +
                            {{this.VNDFormat this.price}}</button>
                        {{/each}}
                    </div>
                </div>
                <div>
                    <button type='button' class='btn-add' onclick="addToCart(event,'{{product.id}}')">{{t
                        'product.add-to-card'
                        }}</button>
                </div>
            </div>
        </div>
        <div class='description-product'>
            <p class='title-intro'>{{t 'product.des-product'}}</p>
            <span>{{product.description}}</span>
        </div>
        <div class='relative-product'>
            <p class='title-intro'>{{t 'product.relation-product'}}</p>
            <div class='list-relation row row-cols-4'>
                {{#each products}}
                <a class="underline-none" href="/product/{{this.id}}">
                    <div>
                        <div class='card height-fluid' style='width: 16rem;'>
                            <img src='{{this.image}}' class='card-img-top img-fluid' alt='...' />
                            <div class='card-body'>
                                <p class='card-text title-product'>{{this.name}}</p>
                                <p class='card-text price-product'>{{this.VNDFormat
                                    this.price
                                    }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
        <div>
            <p class="title-comment mt-4 fw-bold fs-2">{{rating.title}}</p>
            <div class="d-flex">
                <div>
                    {{> list-review.product}}
                </div>
                <div class=" w-100">
                    {{#each ratings}}
                    <div class="card mt-2 my-1rem">
                        <div class="card-header">
                            <div class="d-flex">
                                <div>
                                    <img src="{{this.user.avatar}}" class="rounded-circle shadow-4 avatar-comment"
                                        alt="Avatar" />
                                </div>
                                <div class="ml-rating">
                                    <p class="mb-0">{{this.user.name}}</p>
                                    {{#times 5}}
                                    {{#if (lte @index this.rating_point)}}
                                    <i class="fa fa-star rating-color"></i>
                                    {{else}}
                                    <i class="far fa-star rating-color"></i>
                                    {{/if}}
                                    {{/times}}
                                    <p class="mt-2">{{this.dateFormat}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{this.comment}}
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</div>

<script src='/js/utils.js'></script>
<script src='/js/product/product-detail.js'></script>
<script src='/js/sweetalert.min.js'></script>
