<div class="menu ">
    <div>
        <p class="text-center text-color title-menu">{{t 'home.menu'}}</p>
    </div>
    <div class="  mw-xl">
        <div class="d-flex justify-content-between mt-5 row row-cols-2 g-5">
            {{#each products}}
             <a class="underline-none" href="/product/{{this.id}}">
            <div class=" col">
                <div class="menu-item">
                    <div>
                        <img class="image-menu"
                            src="{{this.image}}"
                            alt="">
                    </div>
                    <div>
                        {{this.name}}
                    </div>
                    <div class="text-price">{{this.price}}</div>

                </div>
            </div>
            </a>
            {{/each}}
        </div>
    </div>
