<div class="cart w-100 mw-xl">
    <div class="cart-list  ">
        <p class="fs-3 fw-medium">{{t 'cart.cart'}}</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">{{t 'cart.product-detail'}}</th>
                    <th scope="col">{{t 'cart.quantity'}}</th>
                    <th scope="col">{{t 'cart.total'}}</th>
                    <th scope="col">{{t 'cart.remove'}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each cart.cartItems}}
                <tr class="row-product text-center">
                    <th scope="row" class="align-middle">
                        <div class="product-cart height-100 d-flex  align-items-center">
                            <div>
                                <img class="product-cart__img" src="{{this.image}}" alt="product image">
                            </div>
                            <div class="cart-product">
                                <p class="cart-name">{{this.name}}</p>
                                <div class="cart-topping">
                                    {{#if this.up_size}}
                                    <p class="topping-name">+ Up size +{{VNDFormat 5000}}</p>
                                    {{/if}}

                                    {{#each this.productInstance.toppings}}
                                    <p class="topping-name">+ {{this.name}} +{{
                                        this.VNDFormat this.price}}</p>
                                    {{/each}}
                                </div>
                                <p class="cart-price mb-0">+{{this.VNDFormat this.price}}</p>
                            </div>
                        </div>
                    </th>
                    <td class="align-middle">
                        <div class="form-outline">
                            <input type="number" id="{{this.productInstance.idInstance}}" min="{{this.MIN_QUANTITY}}"
                                max="{{this.MAX_QUANTITY}}" value="{{this.quantity}}"
                                class="form-control number-input text-center input-quantity" />
                        </div>
                    </td>
                    <td class="align-middle text-center">
                        <p class="cart-price mb-0">{{VNDFormat this.totalProduct}}</p>
                    </td>
                    <td class="align-middle text-center">
                        <i id="{{this.productInstance.idInstance}}"
                            class="fa-sharp fa-solid fa-trash cursor-pointer btn-remove-cart"></i>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="cart-bill">
        <div class="cart-order">
            <div class="mw-xs">
                <div class="order-title fs-4">{{t 'cart.order-summary'}}</div>
                <div class="d-flex justify-content-between align-items-center pb-14">
                    <div>{{t 'cart.sub-total'}}</div>
                    <div>{{VNDFormat cart.total}}</div>
                </div>
                <div class="d-flex justify-content-between align-items-center pt-4  ">
                    <div>{{t 'cart.total'}}</div>
                    <div class="">{{VNDFormat cart.total}}</div>
                </div>
                <div class="py-4">
                    <button class="btn btn-primary w-100 btn-submit">{{t 'cart.order'}}</button>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="/js/cart/cart.js"></script>
<script src='/js/sweetalert.min.js'></script>
